
<header>
  {{> private-navbar}}
</header>
<main class="bg-img">
<h1>DASHBOARD</h1>

<div class="container parent">
  <div class="blog-container">

{{#each blogs}}

   <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{blog_img}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="text-center">
          <a href="/blog/view/{{blog_uuid}}" class="card-link">View <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
    </div>

{{/each}}

  </div>

</div>
</main>

