
<header>
  {{> private-navbar}}
</header>

<main class="bg-img">
<h1 class="text-center">edit blog</h1>

<div class="container edit-blog form-bg">
  <div class="container banner mt-4">
    <h3 class="text-center">Edit Your Blog</h3>
  </div>

  <div id="alert-message"></div>

  <form action="" class="mt-4" id = '{{blog_uuid}}'>

    <div class="inputContainer">
      <input id="edit-title" type="text" class="input" placeholder="a" value = '{{title}}' />
      <label for="" class="label">Blog Title</label>
    </div>

    <div class="inputContainer">
      <input id="edit-img" type="text" class="input" placeholder="a"  value = '{{blog_img}}' />
      <label for="" class="label">Blog Image URL</label>
    </div>

    <div class="inputContainer2">
      <textarea
        cols="50"
        rows="70"
        type="text"
        class="input"
        id="edit-content"
        placeholder="a"

      > 
       {{content}}
      </textarea>
      <label for="edit-content" class="label">Write your blog</label>
    </div>
    <input type="submit" class="submitBtn" value="Post" />
  </form>
</div>

</main>